<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.EmissionBoardMapper">

    <resultMap id="BaseResultMap" type="generator.po.EmissionBoard">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="modelId" column="model_id" jdbcType="INTEGER"/>
        <result property="trackId" column="track_id" jdbcType="INTEGER"/>
        <result property="computeValue" column="compute_value" jdbcType="DOUBLE"/>
        <result property="cumulativeValue" column="cumulative_value" jdbcType="DOUBLE"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,model_id,track_id,
        compute_value,cumulative_value,update_time,
        create_time
    </sql>

    <update id="updateEmissionByTrackId">
        update emission_board
        set track_id=#{to}
        where track_id = #{from};
    </update>
    <update id="updateTrackByTrackId">
        update emission_track
        set id=#{to}
        where id = #{from};
    </update>

    <select id="boradOne" resultType="generator.po.EmissionBoard">
        select
        <include refid="Base_Column_List"></include>
        from emission_board
        where id = #{id};
    </select>
    <select id="boardCumulativeEmission" resultType="com.record.srcode.dto.BoardCumulativeEmission">
        SELECT t1.track_id, SUM(t1.compute_value) AS compute_value
        FROM emission_board AS t1
                 LEFT JOIN emission_track AS t2 ON t1.track_id = t2.id
        WHERE <![CDATA[ t1.create_time > #{beginTime}
          AND t1.create_time < #{endTime} ]]> AND t2.state = 1
        GROUP BY t1.track_id;
    </select>
</mapper>
